.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0 160px;

  &__title,
  &__email {
    width: 100%;
    max-width: 600px;
    text-align: center;
  }

  &__title {
    font-size: 34px;
    font-weight: $semibold;
    padding-bottom: 40px;
  }

  &__email {
    p {
      font-weight: 400;
      font-size: 14px;
      color: $gray-text;
    }
  }

  &__input {
    margin-bottom: 30px;
    box-shadow: $shadow;

    input, button {
      display: block;
      float: left;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      font-family: $fontfamily;
    }

    input {
      width: 65%;

      &:focus {
        outline: none;
      }
    }

    button {
      width: 35%;
      background: $gradient;
      color: $white;
      cursor: pointer;

      &:hover {
        opacity: .95;
      }
    }
  }

  &--second {
    background: $gray-bg;
    padding: 80px 0;

    .cta__title {
      font-size: 28px;
      padding-bottom: 30px;
    }
  }
}
