.header {
  padding-top: 30px;
  padding-bottom: 30px;

  a {
    display: block;
    color: $black;
    padding: 10px 15px;

    &:hover {
      color: $primary;
    }
  }

  li {
    list-style: none;
    display: inline-block;
  }


  &__logo {
    display: block;
    float: left;
    font-weight: $bold;
    font-size: 18px;
    padding-left: 0 !important;

  }

  &__nav {
    float: right;

    a {
      font-weight: $semibold;
      font-size: 14px;
    }
  }
}
